*{
  print-color-adjust:economy;

}
body{
  background: #2B2D42;
  color:white;
  overflow-x: hidden;
}

.header-color{
  background-color: #8D99AE;
  text-align: center;
  margin: 0px 0px 0px 0px;
  width: 100%;
  overflow: hidden;
}

.navbar-brand {
  align-items: center;
  justify-content: center;
}

.footer-color{
    background-color: hsl(218, 17%, 62%);
    text-align: center;
    font-size: 15px;
}

.card-body{
  color:black;
  padding:0px;
  margin: 10px 10px 30px 10px;
  justify-content: space-between;
  text-align: left;
  width: 450px;
  height: 260px;
}

.card-body-loader{
  color:black;
  padding:0px;
  margin: 10px 10px 30px 10px;
  justify-content: space-between;
  text-align: left;
  width: 480px;
  height: 250px;
}

.card-list{
  scroll-behavior: smooth;
  padding-left: 2%;
  overflow: hidden;
}

.filters{
  padding-left:2% ;
}

button {
  background: none;
  padding: 5px 5px;
  width: 30%;
  text-align: center;
}


.footer-color:hover{
  text-decoration: underline;
  cursor: pointer;
}

.pagenotfound{
  margin-top: 20%;
  font-size:70px;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.message:hover{
  text-decoration: underline;
}

.nodatamessage{
  margin-top: 20%;
  font-size:30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (max-width: 420px) {
  .card-body{
    color:black;
    margin: 10px 10px 30px 10px;
    justify-content: space-between;
    text-align: left;
    width: 340px;
    height: 280px;
  }
  .filters-add{
    width:200px;
  }

  .filters{
    width: 375px;
  }

  .header-color{
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

}

